<div class="card mt-3">
    <div class="card-header text-center">
      Login
    </div>
    <div class="card-body">
        <form method="POST">
            <div class="form-group row">
                <div class="col-3">
                    <label for="user">Usuario:</label>
                </div>
                <div class="col-9">
                    <input name="user" id="user" type="text" class="form-control" [(ngModel)]="username" placeholer="Introduce tu usuario" autofocus required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="pass">Password:</label>
                </div>
                <div class="col-9">
                    <input name="pass" id="pass" type="password" class="form-control" [(ngModel)]="password" placeholer="Introduce su contraseña" required>
                </div>
            </div>
            <div class="text-right">
                <button (click)="login()" type="submit" class="btn btn-primary btn-block mx-2">Login</button>
            </div>
        </form>
    </div>
  </div>
