<div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
        <form #juegoForm="ngForm">
            <div class="form-group row">
                <div class="col-3">
                    <label for="titulo">Titulo del juego:</label>
                </div>
                <div class="col-9">
                    <input name="titulo" #titulo="ngModel" type="text" class="form-control" [(ngModel)]="juego.title" placeholer="Introduce el titulo" maxlength="255" required>
                    <div class="alert alert-danger small py-1 my-1" *ngIf="titulo.invalid && titulo.touched">
                        <div *ngIf="titulo.errors.required">
                            Debe rellenar el titulo
                        </div>
                    </div>
                    <div class="alert alert-success small py-1 my-1" *ngIf="titulo.valid && titulo.touched">
                        Debe rellenar el titulo
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="fechaLanz">Fecha de Lanzamiento:</label>
                </div>
                <div class="col-9">
                    <input name="fechaLanz" #launchDate="ngModel" type="date" class="form-control" pattern="dd/MM/yyyy" [(ngModel)]="juego.launchDate" required>
                    <div class="alert alert-danger  small py-1 my-1" *ngIf="launchDate.invalid && launchDate.touched">
                        <div *ngIf="launchDate.errors.required">
                            Debe rellenar la fecha
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="categoria">Categoría:</label>
                </div>
                <div class="col-9">
                    <select name="categoria" #category="ngModel" class="form-control" [(ngModel)]="juego.category" required>
                        <option *ngFor="let categoryOpt of categorias" [ngValue]="categoryOpt">{{ categoryOpt.title }}</option>
                    </select>
                    <div class="alert alert-danger  small py-1 my-1" *ngIf="category.invalid && category.touched">
                        <div *ngIf="category.errors.required">
                            Debe rellenar la categoría
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="pegi">PEGI:</label>
                </div>
                <div class="col-9">
                    <input name="pegi" #pegi="ngModel" type="number" class="form-control" [(ngModel)]="juego.pegi" placeholer="Introduce el titulo" required>
                    <div class="alert alert-danger  small py-1 my-1" *ngIf="pegi.invalid && pegi.touched">
                        <div *ngIf="pegi.errors.required">
                            Debe rellenar el pegi
                        </div>
                    </div>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary mx-2" (click)="create()" *ngIf="!juego.id" [disabled]="!juegoForm.form.valid">Añadir</button>
                <button type="submit" class="btn btn-primary mx-2" (click)="update()" *ngIf="juego.id" [disabled]="!juegoForm.form.valid">Añadir</button>
                <button type="button" class="btn btn-primary mx-2" routerLink="/juegos">Cancelar</button>
            </div>
        </form>
    </div>
  </div>