<div class="card border-primary mt-3 mb-3" *ngIf="juegos?.length > 0">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="pt-2">Lista de Juegos</h5>
            </div>
            <div class="col">
                <button type="button" class="btn btn-primary float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
            </div>
        </div>
    <div class="card-body text-primary">
    <table class="table table-bordered table-stripped">
        <thead>
            <tr>
                <th *ngIf="showId">ID</th>
                <th>Titulo</th>
                <th>Fecha Lanzamiento</th>
                <th>Categoria</th>
                <th>Pegi</th>
                <th>Precio</th>
                <th>Compañias</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let juego of juegos">
                <td *ngIf="showId"> {{ juego.id }} </td>
                <td> {{ juego.title }} </td>
                <td> {{ juego.launchDate | date: 'dd/MM/yyyy' }} </td>
                <td> {{ juego.category | uppercase }} </td>
                <td> {{ juego.pegi }} </td>
                <td> {{ juego.price }} </td>
                <td>
                    <span *ngFor="let compania of juego.companies">{{ compania.name }}</span>
                </td>
                <td> 
                    <button class="btn btn-primary" type="button" [routerLink]="['/juegos/form/', juego.id]">Editar</button>
                    <button class="btn btn-danger" type="button" (click)="delete(juego.id)">Borrar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>