<div class="card border-primary my-3" *ngIf="clientes?.length > 0">
    <div class="card-header">
        <div class="row">
            <div class="col">
                <h5 class="pt-1">Lista de Clientes</h5>
            </div>
            <div class="col">
                <button type="button" class="btn btn-secondary btn-sm float-right" (click)="switchId()">{{ showId ? 'Ocultar' : 'Mostrar' }} ID</button>
            </div>
        </div>
    </div>
    <div class="card-body text-primary">
        <table class="table table-bordered table-stripped small">
            <thead>
                <tr>
                    <th *ngIf="showId">ID</th>
                    <th>NOMBRE</th>
                    <th>APELLIDO</th>
                    <th>USUARIO</th>
                    <th>EMAIL</th>
                    <th>DNI</th>
                    <th>F.NACIMIENTO</th>
                    <th>AJUSTES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let cliente of clientes">
                    <td *ngIf="showId"> {{ cliente.id }} </td>
                    <td> {{ cliente.name }} </td>
                    <td> {{ cliente.lastname }} </td>
                    <td> {{ cliente.username }}</td>
                    <td> {{ cliente.email }} </td>
                    <td> {{ cliente.dni }} </td>
                    <td> {{ cliente.birthday }} </td>
                    <td> 
                        <button class="btn btn-primary btn-sm mx-1" type="button" [routerLink]="['/clientes/form/', cliente.id]">Editar</button>
                        <button class="btn btn-warning btn-sm mx-1" type="button" (click)="delete(cliente.id)">Borrar</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
