<div class="card">
    <div class="card-header">
      {{ title }}
    </div>
    <div class="card-body">
        <form>
            <div class="form-group row">
                <div class="col-3">
                    <label for="nombre">Nombre:</label>
                </div>
                <div class="col-9">
                    <input name="nombre" type="text" class="form-control" [(ngModel)]="cliente.name" placeholer="Introduce el nombre" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="apellidos">Apellidos:</label>
                </div>
                <div class="col-9">
                    <input name="apellidos" type="text" class="form-control" [(ngModel)]="cliente.lastname" placeholer="Introduce los apellidos" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="user">Usuario:</label>
                </div>
                <div class="col-9">
                    <input name="user" type="text" class="form-control" [(ngModel)]="cliente.username" placeholer="Introduce nombre de usuario" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="pass">Password:</label>
                </div>
                <div class="col-9">
                    <input name="pass" type="text" class="form-control" [(ngModel)]="cliente.password" placeholer="Introduce una contaseña" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="dni">DNI:</label>
                </div>
                <div class="col-9">
                    <input name="dni" type="text" class="form-control" [(ngModel)]="cliente.dni" placeholer="Introduce el DNI" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="email">Email:</label>
                </div>
                <div class="col-9">
                    <input name="email" type="text" class="form-control" [(ngModel)]="cliente.email" placeholer="Introduce un email" required>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-3">
                    <label for="fechaLanz">Fecha de Nacimiento:</label>
                </div>
                <div class="col-9">
                    <input name="fechaLanz" type="date" class="form-control" pattern="dd/MM/yyyy" [(ngModel)]="cliente.birthday" placeholer="Introduce la fecha" required>
                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn btn-primary mx-2" (click)="create()" *ngIf="!cliente.id">Añadir</button>
                <button type="submit" class="btn btn-primary mx-2" (click)="update()" *ngIf="cliente.id">Editar</button>
                <button type="button" class="btn btn-primary mx-2" routerLink="/clientes">Cancelar</button>
            </div>
        </form>
    </div>
  </div>